<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Hutech</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="/images/logo.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Heebo:wght@400;900&family=Kodchasan:ital@1&family=Mulish:wght@200;300&family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>
  <%- include('component/header',{flag,user,image}) %>
      <h1>About Page</h1>
    <div>
    <div class="main-content">
      <p>
        Hutech was born out of my own struggle to manage multiple tasks effectively. I always found myself juggling
        between different to-do lists and constantly missing deadlines. That's when I decided to create Hutech - a
        user-friendly, intuitive, and feature-rich task management tool that simplifies your life.
    </p>
    <img src="/images/about1.gif" width="10%" height="10%"/>
    </div>
    <div class="main-content">
      <img src="/images/about1.gif" width="10%" height="10%" />
      <p>
        With HuTech, you can easily categorize your tasks, set deadlines, collaborate with others, and receive timely
        reminders to ensure you never forget a task again. The goal of Hutech is to empower you to be more productive
        and focused, whether you're a professional, a student, or anyone with a busy schedule.
    </p>
    </div>
  
    </div>
      
    
    
    <script src="./sc.js"></script>
</body>
</html>